*{
  margin: 0;
  padding: 0;
  
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.nav{
  min-height: 10vh;
  background-color: rgb(75, 70, 70);
  display:flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}


